# Sensitive
*.key
*.pem
id_rsa*
.env
*.conf
controller/config/*.conf
config/local.conf
config/*.conf
config/secrets.conf

#Logs
*.log
logs/

#Temp
*.tmp
*.bkp
*.swp
*~

#OS-Specific
.DS_Store
Thumbs.db
desktop.ini
.Trash-*