[Unit]
Description=HsH EFI Manager

[Service]
Type=oneshot
ExecStart=/home/decoder_linux/Documents/GITS/HomeSweetHome-Mgr/agent/efimgr.sh

[Install]
WantedBy=multi-user.target